<template>
  <div class="Chat flex flex-col bg-white rounded-xl overflow-hidden">
    <div
      class="
        Chat__header
        flex
        items-center
        px-4
        h-12
        bg-slate-50
        text-gray-500 text-lg
        font-bold
        leading-none
      "
    >
      {{ $t("Chat") }}
    </div>
    <div class="Chat__body pl-4 py-4 pr-2">
      <ChatMessages :messages="messages" />
    </div>
    <div class="Chat__footer">
      <div v-if="this.$page.props.user">
        <div class="pl-3 text-sm flex items-center justify-between">
          <input
            class="Chat__input w-full relative text-gray-500 border-0"
            type="text"
            name="message"
            placeholder="Введите текст сообщения..."
            v-model="messageText"
            @keyup.enter="addMessage"
          />
          <button
            type="button"
            class="Chat__button flex items-center justify-center"
            @click="addMessage"
          >
            <v-icon name="ri-send-plane-2-fill" scale="1.5" />
          </button>
        </div>

        <div
          v-if="$page.props.tenant.theme === 'christmas-kids'"
          class="
            w-full
            p-2
            flex
            items-center
            justify-between
            text-4xl
            bg-white
            text-black
          "
        >
          <button
            v-for="(emoji, index) in emojis"
            :key="index"
            type="button"
            class="
              flex
              w-14
              h-14
              items-center
              justify-center
              hover:bg-gray-200
              transition-colors
            "
            :style="`color: ${emoji.color};`"
            @click="addEmoji(emoji.data)"
          >
            <span>{{ emoji.data }}</span>
          </button>
        </div>
      </div>
      <div v-else class="text-center text-gray-500 py-3">
        Чтобы читать и писать сообщения, пожалуйста, войдите или
        зарегистрируйтесь.
      </div>
    </div>
  </div>
</template>

<script>
import ChatMessages from "./Components/ChatMessages";
import { RiSendPlane2Fill } from "oh-vue-icons/icons/ri";

export default {
  name: "Chat",
  components: {
    ChatMessages,
    RiSendPlane2Fill,
  },
  props: {
    chatName: { type: String, default: "main" },
  },
  created() {
    window.addEventListener("resize", this.heightMobileFix);
  },
  data() {
    return {
      messages: [],
      messageText: null,
      emojis: [
        { data: "😀", color: "#000000" },
        { data: "👍", color: "#000000" },
        { data: "😺", color: "#000000" },
        { data: "🌲", color: "#000000" },
        { data: "❄", color: "#7195ff" },
        { data: "🎁", color: "#000000" },
        { data: "❤", color: "#f00000" },
      ],
    };
  },
  mounted() {
    console.log("CHAT");

    const vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty("--vh", `${vh}px`);

    this.fetchMessages();

    if (this.$page.props.user && this.chatName) {
      // Listening to incoming messages.
      window.Echo.private(
        `tenant_${this.$page.props.tenant.id}_chat_${this.chatName}`
      ).listen(".message_sent", (message) => {
        if (message.user.id !== this.$page.props.user.id) {
          this.messages.push(message);
        }
      });
      // Listening to deleted messages.
      window.Echo.private(
        `tenant_${this.$page.props.tenant.id}_chat_${this.chatName}`
      ).listen(".message_delete", (message) => {
        console.log("Deleted: " + message.id);
      });
    }
  },
  methods: {
    fetchMessages() {
      if (this.$page.props.user && this.chatName) {
        axios
          .get(route("tenant.api.chat.show", this.chatName))
          .then((response) => {
            if (response.data.messages) {
              this.messages = response.data.messages.data;
            }
          });
      }
    },
    addMessage() {
      if (this.$page.props.user && this.messageText && this.chatName) {
        const message = {
          user: this.$page.props.user,
          text: this.messageText,
        };
        this.messages.push(message);
        axios.put(route("tenant.api.chat.update", this.chatName), message);
        this.messageText = null;
      }
    },
    heightMobileFix() {
      const vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty("--vh", `${vh}px`);
    },
    addEmoji(codeEmoji) {
      if (this.messageText) {
        this.messageText += codeEmoji;
      } else {
        this.messageText = codeEmoji;
      }
    },
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.heightMobileFix);
  },
};
</script>

<style lang="postcss" scoped>
.Chat {
  display: flex;
  flex-direction: column;
}

.Chat__header {
}

.Chat__body {
  height: 500px;
  max-height: 500px;
}

.Chat__footer {
  background-color: #fafafa;
}

.Chat__input {
  background-color: #fafafa;
}

.Chat__input:focus {
  box-shadow: none;
}

.Chat__button {
  @apply text-theme-primary;
  width: 52px;
  height: 52px;
  transition: all 0.2s ease-out;
}

.Chat__button:hover {
  @apply text-theme-primary-dark;
}

.Chat__button:active {
  @apply text-theme-primary-dark;
}

@media (max-width: 40rem) {
  .Chat__body {
    --toolbar-height: 4rem;
    --player-pt: 2rem;
    --player-heigth: 14rem;
    --player-mb: 1.25rem;
    --chat-header-height: 3rem;
    --chat-input-height: 3.25rem;

    height: calc(
      var(--vh, 1vh) * 100 - var(--toolbar-height) - var(--player-pt) -
        var(--player-heigth) - var(--player-mb) - var(--chat-header-height) -
        var(--chat-input-height)
    );
    max-height: calc(
      var(--vh, 1vh) * 100 - var(--toolbar-height) - var(--player-pt) -
        var(--player-heigth) - var(--player-mb) - var(--chat-header-height) -
        var(--chat-input-height)
    );
  }
}
</style>
