<template>
  <ul class="ChatMessages pr-4 overflow-y-auto" v-chat-scroll>
    <li class="flex mb-5" v-for="message in messages">
      <div class="flex-shrink-0">
        <img
          class="self-start h-8 w-8 rounded-full object-cover mr-2.5"
          :src="message.user.profile_photo_url"
          :alt="message.user.first_name"
        />
      </div>
      <div class="ChatMessages__text-block p-3 rounded-md text-black">
        <div v-if="message.user" class="flex justify-between text-sm">
          <span class="font-bold opacity-75">
            {{
              (message.user.first_name ? message.user.first_name : "") +
              " " +
              (message.user.last_name ? message.user.last_name : "")
            }}
          </span>
          <span class="ml-2 opacity-75">
            {{ $dayjs(message.created_at).format("HH:mm") }}
          </span>
        </div>
        <p class="mt-2 text-sm break-all">{{ message.text }}</p>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  props: ["messages"],
};
</script>

<style lang="postcss" scoped>
.ChatMessages {
  height: 100%;
  max-height: 100%;
  scrollbar-width: 6px;
  scrollbar-color: #f7f9fb;
}

.ChatMessages__text-block {
  background: #fafafa;
  border: 1px solid #e9eff5;
}

.ChatMessages::-webkit-scrollbar {
  @apply w-2 rounded-xl;
  background-color: var(--background);
}

.ChatMessages::-webkit-scrollbar-thumb {
  @apply rounded-xl;
  background: #949ca2;
}
</style>
