<template>
  <central-layout>
    <template #title>
      <inertia-link
        :href="route('dashboard.chat.conversations.index')"
        class="text-indigo-400 hover:text-indigo-600"
        >{{ $t("Chat conversations") }}
      </inertia-link>
      /
      {{ entity.name }}
      /
      {{ $t("Messages") }}
      <span class="align-top font-normal text-sm">
        {{ entity.messages_number }}
      </span>
    </template>

    <!-- Listing -->
    <Table
      class="mb-6"
      :filters="queryBuilderProps.filters"
      :search="queryBuilderProps.search"
      :columns="queryBuilderProps.columns"
      :on-update="setQueryBuilder"
      :meta="messages"
    >
      <template #head>
        <tr>
          <header-cell :cell="sortableHeader('user_name')"
            >{{ $t("User") }}
          </header-cell>
          <header-cell :cell="sortableHeader('text')">
            {{ $t("Message") }}
          </header-cell>
          <header-cell :cell="sortableHeader('created_at')">
            {{ $t("Created") }}
          </header-cell>
          <th>{{ $t("Control") }}</th>
        </tr>
      </template>

      <template #body>
        <tr v-for="message in messages.data" :key="message.id">
          <td>
            <inertia-link
              v-if="$permission('user_update')"
              :href="route('dashboard.users.edit', message.user.id)"
              class="underline"
              >{{ message.user.name }}
            </inertia-link>
            <span v-else>{{ message.user.name }}</span>
          </td>
          <td>
            <span class="whitespace-normal break-all">{{ message.text }}</span>
          </td>
          <td>
            {{ messageTime(message.created_at) }}
          </td>
          <td>
            <button
              v-if="$permission('chat_messages_delete')"
              @click="destroyHandler(message.id)"
              class="text-red-600 hover:underline"
              type="button"
            >
              {{ $t("Delete") }}
            </button>
          </td>
        </tr>
      </template>
    </Table>

    <!-- Clear messages form -->
    <form
      v-if="messages.data.length"
      class="flex items-center"
      @submit.prevent="clearHandler"
    >
      <select-input v-model="clearMessageForm.older_days">
        <option
          v-for="(option, value) in clearMessageOptions"
          :key="value"
          :value="value"
        >
          {{ option }}
        </option>
      </select-input>
      <loading-button
        type="submit"
        class="
          ml-4
          leading-tight
          bg-red-500
          hover:bg-orange-400
          focus:bg-orange-400
        "
        :class="{ 'opacity-25': clearMessageForm.processing }"
        :loading="clearMessageForm.processing"
        :disabled="clearMessageForm.processing"
      >
        {{ $t("Delete messages") }}
      </loading-button>
    </form>
  </central-layout>
</template>

<script>
import CentralLayout from "@/Layouts/CentralLayout";
import SelectInput from "@/Shared/SelectInput";
import LoadingButton from "@/Shared/LoadingButton";
import {
  InteractsWithQueryBuilder,
  Tailwind2,
  Components,
} from "@protonemedia/inertiajs-tables-laravel-query-builder";

export default {
  mixins: [InteractsWithQueryBuilder],
  components: {
    CentralLayout,
    SelectInput,
    LoadingButton,
    Table: Tailwind2.Table,
    HeaderCell: Tailwind2.HeaderCell,
  },
  props: {
    entity: Object,
    messages: Object,
  },
  mounted() {
    Components.Pagination.setTranslations({
      no_results_found: this.$t("Nothing found"),
      previous: this.$t("Prev"),
      next: this.$t("Next"),
      to: this.$t("to"),
      of: this.$t("of"),
      results: "",
    });
  },
  data() {
    return {
      clearMessageOptions: {
        0: this.$t("All messages"),
        1: this.$t("Older than one day"),
        2: this.$t("Older than two days"),
        3: this.$t("Older than three days"),
        4: this.$t("Over four days old"),
        5: this.$t("Over five days old"),
      },
      clearMessageForm: this.$inertia.form({
        older_days: 5,
      }),
      translations: {
        delete: this.$t(
          "Are you sure you want to permanently delete this entity"
        ),
        clear: this.$t("Are you sure you want to cleanse this entity"),
      },
    };
  },
  methods: {
    destroyHandler(id) {
      if (
        !this.clearMessageForm.processing &&
        confirm(`${this.translations.delete}?`)
      ) {
        this.$inertia.delete(
          this.route("dashboard.chat.conversations.messages.destroy", id),
          {
            onSuccess: () => {
              this.$inertia.reload();
            },
          }
        );
      }
    },
    clearHandler() {
      if (this.messages.data.length && confirm(`${this.translations.clear}?`)) {
        this.clearMessageForm.put(
          this.route("dashboard.chat.conversations.clear", this.entity.id)
        );
      }
    },
    messageTime(time) {
      return new Date(time).toLocaleTimeString("ru-Ru", {
        weekday: "long",
        month: "long",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
      });
    },
  },
};
</script>
