<template>
  <central-layout>
    <template #title>
      <inertia-link
        :href="route('dashboard.chat.conversations.index')"
        class="text-indigo-400 hover:text-indigo-600"
        >{{ $t("Chat conversations") }}
      </inertia-link>
      <span class="text-gray-400 font-medium">/</span>
      {{ $t("Create") }}
      <span class="align-top font-normal text-sm">
        {{ $subscription_get_consumed("mod_chats") }}
        {{ $t("of") }}
        {{ $subscription_get_value("mod_chats") }}
      </span>
    </template>

    <feature-limit-reached-message
      v-if="!$subscription_can_use('mod_chats')"
      feature_code="mod_chats"
    />

    <div v-else class="bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap p-4 md:p-8 -mr-4 -mb-4">
          <text-input
            v-model="form.name"
            :error="form.errors.name"
            class="pr-4 pb-4 w-full"
            :label="$t('Title')"
            required
            autofocus
          />
        </div>
        <div
          class="
            px-4
            md:px-8
            py-4
            bg-gray-50
            border-t border-gray-100
            flex
            justify-end
            items-center
          "
        >
          <loading-button
            :class="{ 'opacity-25': form.processing }"
            :loading="form.processing"
            :disabled="form.processing"
            class="
              flex
              items-center
              px-6
              py-3
              rounded
              bg-indigo-600
              text-white text-sm
              leading-4
              font-bold
              whitespace-nowrap
              hover:bg-orange-400
              focus:bg-orange-400
              ml-auto
            "
            type="submit"
          >
            {{ $t("Create") }}
          </loading-button>
        </div>
      </form>
    </div>
  </central-layout>
</template>

<script>
import CentralLayout from "@/Layouts/CentralLayout";
import TextInput from "@/Shared/TextInput";
import LoadingButton from "@/Shared/LoadingButton";
import FeatureLimitReachedMessage from "../../../../../../core/Resources/js/Central/Components/FeatureLimitReachedMessage";

export default {
  components: {
    CentralLayout,
    TextInput,
    LoadingButton,
    FeatureLimitReachedMessage,
  },
  metaInfo: { title: "Create chat conversation" },
  remember: "form",
  data() {
    return {
      form: this.$inertia.form({
        name: null,
      }),
    };
  },
  methods: {
    store() {
      this.form.post(this.route("dashboard.chat.conversations.store"));
    },
  },
};
</script>
