<template>
  <central-layout>
    <template #title>
      <inertia-link
        :href="route('dashboard.chat.conversations.index')"
        class="text-indigo-400 hover:text-indigo-600"
        >{{ $t("Chat conversations") }}
      </inertia-link>
      <span class="text-gray-400 font-medium">/</span>
      {{ form.name }}
    </template>

    <div>
      <div class="bg-white rounded-md shadow overflow-hidden">
        <form @submit.prevent="update">
          <div class="flex flex-wrap p-4 md:p-8 -mr-4 -mb-4">
            <text-input
              v-model="form.name"
              :error="form.errors.name"
              class="pr-4 pb-4 w-full"
              :label="$t('Title')"
              required
            />
            <!-- TODO: temporarily hidden -->
            <text-input
              v-if="false"
              v-model="form.slug"
              :error="form.errors.slug"
              class="pr-4 pb-4 w-full"
              :label="$t('Slug')"
            />
          </div>
          <div
            class="
              px-4
              md:px-8
              py-4
              bg-gray-50
              border-t border-gray-100
              flex
              items-center
            "
          >
            <button
              v-if="$permission('chat_delete')"
              class="text-red-600 hover:underline"
              tabindex="-1"
              type="button"
              @click="destroy"
            >
              {{ $t("Delete") }}
            </button>
            <loading-button
              :class="{ 'opacity-25': form.processing }"
              :loading="form.processing"
              :disabled="form.processing"
              class="
                flex
                items-center
                px-6
                py-3
                rounded
                bg-indigo-600
                text-white text-sm
                leading-4
                font-bold
                whitespace-nowrap
                hover:bg-orange-400
                focus:bg-orange-400
                ml-auto
              "
              type="submit"
            >
              {{ $t("Update") }}
            </loading-button>
          </div>
        </form>
      </div>
    </div>
  </central-layout>
</template>

<script>
import CentralLayout from "@/Layouts/CentralLayout";
import TextInput from "@/Shared/TextInput";
import LoadingButton from "@/Shared/LoadingButton";

export default {
  components: {
    CentralLayout,
    TextInput,
    LoadingButton,
  },
  metaInfo() {
    return { title: this.form.title };
  },
  props: {
    entity: {
      type: Object,
      require: true,
    },
  },
  remember: "form",
  data() {
    return {
      form: this.$inertia.form({
        name: this.entity.name,
        slug: this.entity.slug,
      }),
      translations: {
        delete: this.$t(
          "Are you sure you want to permanently delete this entity"
        ),
      },
    };
  },
  methods: {
    update() {
      this.form.put(
        this.route("dashboard.chat.conversations.update", this.entity.id),
        {
          preserveState: false,
        }
      );
    },
    destroy() {
      if (confirm(`${this.translations.delete}?`)) {
        this.$inertia.delete(
          this.route("dashboard.chat.conversations.destroy", this.entity.id)
        );
      }
    },
  },
};
</script>
