<template>
  <central-layout>
    <template #title>
      {{ $t("Chat conversations") }}
      <span class="align-top font-normal text-sm">
        {{ $subscription_get_consumed("mod_chats") }}
        {{ $t("of") }}
        {{ $subscription_get_value("mod_chats") }}
      </span>
    </template>
    <div
      v-if="$permission('chat_create')"
      class="mb-6 flex justify-between items-center"
    >
      <inertia-link
        class="
          px-6
          py-3
          rounded
          bg-indigo-600
          text-white text-sm
          leading-4
          font-bold
          whitespace-nowrap
          hover:bg-orange-400
          focus:bg-orange-400
        "
        :href="route('dashboard.chat.conversations.create')"
      >
        <span>{{ $t("Create") }}</span>
      </inertia-link>
    </div>

    <Table
      :filters="queryBuilderProps.filters"
      :search="queryBuilderProps.search"
      :columns="queryBuilderProps.columns"
      :on-update="setQueryBuilder"
      :meta="entities"
    >
      <template #head>
        <tr>
          <th>{{ $t("Title") }}</th>
          <th>{{ $t("Messages") }}</th>
        </tr>
      </template>

      <template #body>
        <tr v-for="chat in entities.data" :key="chat.id">
          <td class="border-t px-6 py-4">
            <inertia-link
              v-if="$permission('chat_update')"
              class="
                text-indigo-600
                hover:text-indigo-400
                focus:text-indigo-500
              "
              :href="route('dashboard.chat.conversations.edit', chat.id)"
            >
              {{ chat.name }}
            </inertia-link>
            <span v-else>{{ chat.name }}</span>
          </td>
          <td class="border-t px-6 py-4">
            {{ chat.messages_number }}
            <span v-if="chat.messages_number && $permission('chat_messages')">
              /
              <inertia-link
                class="
                  text-indigo-600
                  hover:text-indigo-400
                  focus:text-indigo-500
                "
                :href="
                  route('dashboard.chat.conversations.messages.index', chat.id)
                "
              >
                {{ $t("Control") }}
              </inertia-link>
            </span>
          </td>
        </tr>
      </template>
    </Table>
  </central-layout>
</template>

<script>
import CentralLayout from "@/Layouts/CentralLayout";
import {
  InteractsWithQueryBuilder,
  Tailwind2,
  Components,
} from "@protonemedia/inertiajs-tables-laravel-query-builder";

export default {
  mixins: [InteractsWithQueryBuilder],
  components: { CentralLayout, Table: Tailwind2.Table },
  metaInfo: { title: "Chat conversations" },
  props: {
    entities: Object,
  },
  mounted() {
    Components.Pagination.setTranslations({
      no_results_found: this.$t("Nothing found"),
      previous: this.$t("Prev"),
      next: this.$t("Next"),
      to: this.$t("to"),
      of: this.$t("of"),
      results: "",
    });
  },
};
</script>
